/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.idea/.gitignore
/.gradle/8.12.1/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/8.12.1/executionHistory/executionHistory.bin
/.gradle/8.12.1/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.12.1/fileHashes/fileHashes.bin
/.gradle/8.12.1/fileHashes/fileHashes.lock
/.gradle/8.12.1/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/.gradle/8.12.1/fileChanges/last-build.bin
/.idea/misc.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/build/tmp/compileJava/previous-compilation-data.bin
/.gradle/8.12.1/fileHashes/resourceHashesCache.bin
/.idea/vcs.xml
/.idea/modules/SarComp.main.iml
/.idea/modules.xml
/.gradle/8.12.1/checksums/md5-checksums.bin
/.gradle/8.12.1/checksums/sha1-checksums.bin
